@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

.Youtube {
	background: linear-gradient(180deg, rgb(206, 206, 206), gray);

	figure {
	}

	.content {
		article {
			width: 100%;
			height: 40vh;
			margin-bottom: 80px;
			position: relative;
			filter: grayscale(0.5);
			box-shadow: 10px 10px 20px (0, 0, 0, 0.9);

			&:hover {
				transform: scale(0.9);
				filter: grayscale(0);
			}

			.picBox {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0px;
				left: 0;
				overflow: hidden;
				box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					transform: scale(1.5);
				}
			}

			.textBox {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0px;
				left: 0;
				bottom: 0;
				top: 70%;
				color: black;
				margin-left: 20px;
				font: normal 15px/1 'swap';
			}
		}
	}
}
