@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.visual {
	width: 100%;
	height: calc(100vh - 90px);

	h2 {
		font: bold 40px/1 'arial';
		margin-bottom: 50px;
		padding-left: 10vw;
		padding-top: 50px;
	}
	img {
		width: 95%;
		height: 80vh;
		object-fit: cover;
		margin: auto;
		display: block;
	}
	.text1 {
		position: absolute;
		top: 70%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
		font-size: 80px;
		text-align: center;
		font-family: 'Roboto';
	}
}
