@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.visual {
	width: 100%;
	height: calc(100vh - 90px);

	img {
		width: 95%;
		height: 85vh;
		object-fit: cover;
		margin: auto;
		display: block;
	}
	.text1 {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
		font-size: 80px;
		text-align: center;
		font-family: 'Roboto';
	}
}
