.Gallery {
	.searchBox {
		button {
			width: 150px;
			height: 30px;
			border: none;
			background-color: #555;
			color: white;
			margin-left: 10px;
		}
		input {
			width: 50%;
			height: 30px;
			margin-left: 160px;
		}
	}

	.btnSet {
		button {
			width: 150px;
			height: 30px;
			background-color: #555;
			border: none;
			color: white;
			margin-right: 10px;
			margin-top: 40px;
			cursor: pointer;
		}
	}

	.picFrame {
		width: 100%;
		opacity: 1;

		&::after {
			content: '';
			display: block;
			clear: both;
		}

		article {
			width: 25%;
			padding: 10px;
			float: left;

			.inner {
				width: 100%;
				padding: 10px;
				background: #fff;
				box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);

				.pic {
					width: 100%;
					filter: grayscale(1);

					&:hover {
						transform: scale(1.1);
						filter: grayscale(0);
						transition: 0.5s;
					}
				}
				h2 {
					font: normal 1rem/1.2 'arial';
					color: #555;
					margin-top: 10px;
					margin-bottom: 40px;
				}
				.profile {
					width: 100%;
					display: flex;
					align-items: center;
					gap: 20px;
					filter: grayscale(1);

					&:hover {
						transform: scale(1.1);
						filter: grayscale(0);
						transition: 0.5s;
					}

					span {
						font-size: 0.8rem;
					}
				}
			}
		}
	}
}
