@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

.Department {
	figure {
		background-color: gray (105, 96, 96);
	}
	.memberBox {
		justify-content: space-between;
		article {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			margin-bottom: 80px;

			&:nth-of-type(even) {
				flex-direction: row-reverse;
			}

			.imgBox {
				width: 25%;
				filter: grayscale(0.7);

				&:hover {
					filter: grayscale(0);
					transform: scale(1.1);
				}

				img {
					width: 100%;
					height: 75%;
					object-fit: cover;
					padding-left: 20px;
					padding-top: 20px;
					padding-right: 20px;
				}
			}
			.picBox {
				margin-left: 20px;
				width: 50%;
				margin-right: 20px;

				h2 {
					font-size: 40px;
				}

				h3 {
					font-size: 20px;
					color: blue;
					margin-bottom: 10px;
				}

				h4 {
					font-size: 20px;
					margin-bottom: 10px;
					color: #555;
					font: normal 20px/1 'Nanum Myeongjo';
				}

				p {
					color: #555;
				}
			}
		}
	}
}
