.Department {
	background-color: rgb(249, 249, 235);
	figure {
		background-color: rgb(105, 96, 96);
	}
	.memberBox {
		justify-content: space-between;
		background-color: rgb(222, 222, 205);
		article {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			margin-bottom: 80px;

			&:nth-of-type(even) {
				flex-direction: row-reverse;
			}

			.imgBox {
				width: 25%;

				img {
					width: 100%;
					height: 75%;
					object-fit: cover;
					padding-left: 20px;
					padding-top: 20px;
					padding-right: 20px;
				}
			}
			.picBox {
				margin-left: 20px;
				width: 50%;
				margin-right: 20px;

				h2 {
					font-size: 40px;
				}

				h3 {
					font-size: 20px;
					color: blue;
					margin-bottom: 10px;
				}

				h4 {
					font-size: 20px;
					margin-bottom: 10px;
					color: #555;
				}

				p {
					color: #555;
				}
			}
		}
	}
}
